/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.flex-a-i-center {
    display: flex;
    align-items: center;
}

.margin-25 {
    margin: 0 25%;
}

.upper-header {
    background-color: white;
    font-size: 0.7rem;
    font-weight: 500;
    justify-content: space-between;
}

.right-upper-header {
    padding-left: 1rem;
}

.right-upper-header span {
    padding-left: 2rem;
}

.left-upper-header span {
    padding-left: 2rem;
}

#logo {
    height: 5.4rem;
    padding: 1.5rem 0;
}

#inizia {
    background-color: rgb(0, 97, 255);
    height: 50px;
}

.jumbo {
    background-color: rgb(180, 208, 231);
    height: 500px;
}

.business-plan {
    flex-direction: column;
    padding: 9rem 0;
}

.box-red {
    background-color: red;
    height: 150px;
}
    
.vertical-box {
    height: 750px;
}

.vertical-box-central {
    height: 750px;
    margin: 0 3rem;
}

.horizontal-box {
    height: 200px;
    margin-top: 3rem;
}

.box-blue {
    background-color: blue;
    height: 600px;
}

.dropbox-business {
    padding: 9rem 0;
}

.box-green {
    background-color: green;
    height: 800px;
}

.box-yellow {
    background-color: yellow;
    height: 150px;
    margin-bottom: 9rem;
}

.container-team {
    background-color: magenta;
    height: 450px;
}

.team-group-aside {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.team {
    width: 50%;
    height: 50%;
}

.team-central {
    width: calc(100% / 3);
    height: 100%;
}

.free-trial {
    background-color: rgb(180, 208, 231);
    height: 250px;
}

.faq {
    height: 500px;
}

footer {
    background-color: black;
    height: 400px;
}